{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% load jalali_tags %}
{% load persian_translation_tags %}
{% block content %}
    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--top-padding s-content--narrow">

        <article class="row entry format-standard">

            <div class="entry__media col-full">
                <div class="entry__post-thumb">
                    <img src="{{ article.cover.url }}"
                         
                         sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                </div>
            </div>

            <div class="entry__header col-full">
                <h1 class="entry__header-title display-1">
                    {{ article.title }}
                </h1>
                <ul class="entry__header-meta">
                    <li class="date">{{ article.created_at.date }}</li>
                    <li class="byline">
                        By
                        <a href="#0">{{ article.author.user }}</a>
                    </li>
                </ul>
            </div>


            <p>
                <img src="images/wheel-1000.jpg" srcset="images/wheel-2000.jpg 2000w, images/wheel-1000.jpg 1000w, images/wheel-500.jpg 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
            </p>

            <h2 style="text-align: right">{{ article.title }}</h2>

            <p>{{ article.content|safe }}</p>

                <div class="entry__author">
                    <img src="{{ article.author.avatar.url }}" alt="">

                    <div class="entry__author-about">
                        <h5 class="entry__author-name">
                            <span>پست شده توسط</span>
                            <a href="#0">{{ article.author.user.first_name}}  {{ article.author.user.last_name}} </a>
                        </h5>

                        
                    </div>
                </div>

                {% comment %} <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h2 class="mb-5">نظرات:</h2>
                        {% for comment in comments %}
                            {% if comment.is_active %}
                                <div class="border-bottom mb-3">
                                    <h5 class="mb-3">{{ comment.user.username}}</h5>
                                    {% if comment.recommend %}
                                        <p>این کتاب را توصیه میکنم</p>
                                    {% else %}
                                        <p>این کتاب را توصیه نمیکنم</p>
                                    {% endif %}
                                <p>{{comment.text|linebreaks}}</p>
                            </div>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                </div> {% endcomment %}

                <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
                    <div class="product-reviews">
                        <h3 class="review__title">{{article.comments.all|only_active_comments|length}} نظر برای {{article.title }}</h3>
                        <ul class="review__list">
                            {% for comment in article.comments.all|only_active_comments %}
                                <li class="review__item">
                                    <div class="review__container">
                                        <div class="review__text">
                                            <div class="d-flex flex-sm-row flex-row">
                                                <img src="{% static "img/others/comment-1.jpg" %}" alt="Review Avatar" class="review__avatar p-3">
                                                <div>
                                                    <div class="review__meta" dir='ltr'>
                                                        <span class="review__published-date">{{comment.datetime_created|to_jalali:'%Y/%m/%d _ %H:%M:%S'|translate_number}}</span>
                                                        <span class="review__dash">-</span>
                                                        <strong class="review__author px-4">{{comment.author.username}}</strong>
                                                    </div>
                                                    <div class="product-rating">
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="review__description text-right px-4 mr-5 pr-5">
                                                {{ comment.body }}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            
                        </ul>
                        <div class="review-form-wrapper">
                            <div class="row">
                                <div class="border-top py-5 w-100"></div>
                                <div class="col-lg-8 m-auto">
                                    <br>
                                    {% if user.is_authenticated %}
                                    <span class="reply-title pull-right">   Write your comment </span>
                                    <br>
                                    <form action="{% url "comment_create" article.id %}" method='POST' >
                                        {% csrf_token %}
                                        {{ comment_form|crispy}}
                                        <input type="submit" value=" submit ">
                                    </form>
                                    {% else %}
                                    <p>"To write your comment please " 
                                        <a href="">"Login" </a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- s-entry__main -->

        </article> <!-- end entry/article -->


    </section> <!-- end s-content -->


    {% endblock  %}