#My stuff
.idea/

#Virtual Env
venv/


#Migrations
accounts/migrations/
accounts/__pycache__/
blog/migrations/
persian_translate/migrations/
persian_translate/__pycache__/
blog/__pycache__/
config/__pycache__/


# user : admin -> homa
# pass : 40221441054052Ma

#Static files
files/
staticfiles/
template_raw/