#My stuff
.idea/

#Virtual Env
venv/

config/__pycache__/

#Database
db.sqlite3

#Migrations
accounts/migrations/
blog/migrations/
blog/__pycache__/
config/__pycache__/


# user : admin
# pass : 40221441054052Ma

#Static files
files/
staticfiles/
template_raw/