#Mi stuff
.idea/

#Virtual Env
venv/

config/__pycache__/settings.cpython-312.pyc

#Database
db.sqlite3

#Migrations
accounts/migrations/
blog/migrations/

config/__pycache__


# user : admin
# pass : 40221441054052Ma

#Static files
files/